@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

:root {
  --tree-green: #2f821f;
  --brownish-grey: #565656;
}
.delivery-to {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  color: #565656;
}

.info-icon {
  margin: 0;
  height: 28px;
}

.delivery-to > * {
  margin: 0 15px;
  font-weight: lighter;
}

.arrow-down {
  border: solid;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 0 0 3px 10px;
  width: 6px;
  height: 6px;
}

.arrow-down:active{
   border: solid;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  margin: 0 0 3px 10px;
  width: 6px;
  height: 6px;
}

.drop-down {
  color: var(--tree-green);
}
.delivey-date {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}
