@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


.product-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px
}

.product-header-title {
  margin-left: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #323232;
  letter-spacing: .32px
}
.product-header-vm {
  margin-right: 35px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #2f821f;
  letter-spacing: .26px
}

.carousel {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  width: 100%;
  overflow-x: scroll;
}

.buyagain {
  /* margin: 10px 0 30px 0; */
  background-color: white;
  width: 80%;
  margin: 10px 0;
}

/* .all-carousels {
  display: flex;
  flex-direction: column;
  width: 100%;
} */
