@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.product-wrapper {
  /* width: 140px;
  height: 300px;
  margin: 30px 50px 10px 50px */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  margin: 30px 50px 10px 50px

}
.product-container {
  display: flex;
  flex-direction: column;
  height: 250px;
}

.product-container > * {
  margin: 2px 0;
}
.product-image {
  width: 140px;
  height: 150px;
  margin: 10px auto;
}

.product-price {
  font-size: 12px;
  font-weight: bold;
  color:#565656;
  margin: 5px
}
.product-title {
  font-size: 12px;
  color: #717171;
  margin: 5px
}
.product-size {
  font-size: 12px;
  color: #717171;
  margin: 5px;
}
.product-add-btn {
  width: 100px;
  height: 40px;
  margin: 15px;
  background-color: #2f821f;
  color: #ffffff;
  font-size: 16px;
  border-radius: 10%;
  font-weight: bold;
}
.button-container {
  margin-top: 15px;
  text-align: center;
}
.product-edit-btn{
  width: 100px;
  height: 40px;
  margin: 15px;
  background-color: #717171;;
  color: #ffffff;
  font-size: 16px;
  border-radius: 10%;
  font-weight: bold; 
}
.product-Link{
  text-decoration: none;
  color: ivory;
}

@media(max-width: 740px){
  .product-wrapper {
    margin: 0px 50px;
    display: flex;
    justify-content: flex-end;
  }
  .product-price, .product-size, .product-title{
    font-size: 14px;
    margin: 0 5px
  }
  .product-image{
    width: 75px;
    height: 75px;
    margin: 0px 10px
  }
  .product-add-btn, .product-edit-btn{
    font-size: 18px;
    margin: 0 15px 10px;
    
  }
}
@media(max-width: 740px){
  .product-wrapper {
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    padding-left: 5px
  }
}