@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.product-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px
}

.product-header-title {
  margin-left: 50px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #565656;
  font-weight: 400;
  letter-spacing: .32px
}
.product-header-vm {
  margin-right: 35px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #2f821f;
  letter-spacing: .26px;
  /* font-weight: 400; */
  /* margin: auto 0; */
}

.carousel {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  width: 100%;
  overflow-x: scroll;
}

.buyagain {
  background-color: white;
  text-align: left;
  width:calc(100vw - 250px);
  margin: 10px 0;
}

/* .all-carousels {
  display: flex;
  flex-direction: column;
  width: 100%;
} */
@media(max-width: 740px){
  .buyagain{
    width:calc(100vw - 50px);
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }
}
@media(max-width: 425px){
  .buyagain{
    width: 100vw;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
  }
  .product-header-vm{
    margin-right: 10px
  }
  .product-header-title{
    margin: 0px 10px
  }
}

