.storeBodyPage{
 background-color: #f7f7f7;
}

.storeBodySection{
  display: flex;
  /* justify-content: flex-start; */
  margin-left: 10px;
  /* width: 100%; */
}
.storebody-products-list{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}