.storeBodyPage{
 background-color: #f7f7f7;
}

.storeBodySection{
  display: flex;
  /* justify-content: flex-start; */
  margin-left: 10px;
  /* width: 100%; */
}
.storebody-products-list{
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
  width: 100%;
}
@media (max-width: 900px){
  .storebody-products-list{
    align-items: center;
  }
  .storeBodySection{
    margin: 0;
  }
}

/* Search Result CSS */
.searchProductsOuterDiv{
 display: flex;
 /* flex-direction: column; */
 flex-wrap: wrap;
/* justify-content: space-evenly; */
background-color: white;
margin: 10px 0;
}
.searchProductsOuterDiv > *{
border: 2px solid lightcoral;
}
