@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.apple-header{
  background-image:url('../../images/demapples.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.circle-logo {
  border-radius: 50%;
  background-color: white;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  margin: -50px auto 0px auto;
}

.costco-logo {
  width: 110px;
  height: 100px;
  border-radius: 20%;
}

.costco-title {
  font-size: 34px;
  color: white;
  font-weight: bolder
}

.view-more-links>a {
  font-size: 20px;
  font-weight: lighter;
  margin: 10px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.32px; 
}
.view-more-links {
  margin: 5px 0 20px 0;
}

.dot {
  color: white;
  margin: 0 -5px 0 -5px;
}
@media (max-width: 900px){
  .costco-title{
    display: none;
  }
  .circle-logo{
    margin: 0 auto;
  }
}
@media (max-width: 420px){
  .view-more-links>a{
    font-size: 18px;
    font-weight: 600;
  }
}