@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.header-navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.left-side{
  display: flex;
  width: max-content;
  align-items: center;
}

.right-side{
  display: flex;
  width: max-content;
  align-items: center;
}

.instacart-logo{
  margin: 15px;
  width: 194px;
  height: 39px;
}

.cart-logo{
  height: 46px;
  width: 52px;
  margin: 15px;
}

.storeFrontNavBar-link{
  font-weight: 600;
  font-size: 18px;
  margin: 10px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.32px;
}


/* This is to Edit the dropdown component */
.dropDownMenu{
  margin: 10px;
}

/* .storeFrontNav-img-link{
  width: max-content;
  height: max-content;
 text-decoration: none;
} */

@media (max-width: 900px){
  .storeFrontNavBar-link, .left-side, .cart-logo{
    display: none;
  }
  /* .cart-logo{
    margin: 0px
  } */
  .header-navBar{
    justify-content: center;
  }
}