.storeBodyPage{
 background-color: #f7f7f7;
}

.storeBodySection{
  display: flex;
  margin-left: 10px;
}
.storebody-products-list{
  display: flex;
  flex-direction: column;
  width: 100%;
}


/* Search Result CSS */
.searchProductsOuterDiv{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 background-color: white;
 margin: 10px 0;
 margin-right: 15px;
}
.searchProductsOuterDiv > *:hover{
  /* border: 3px dotted #ff7a59;
  color: #ff7a59; */
  border-radius: 5px;
  background: lightgray;
}

@media (max-width: 900px){
  .storebody-products-list{
    align-items: center;
  }
  .storeBodySection{
    margin: 0;
  }
}