@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.add-product-body{
  display: flex;
  justify-content: center;
}
.create-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 350px;
    justify-content: center;
    align-items: flex-start;
    background-color: lightgray;
}

.add-product-input:focus{
    outline: none;
}

.add-product-input{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin: 10px;
    width: 90%;
}

.input-price {
    padding-left: 10px;
    font-size: 24px;
}

.input-image-link {
    font-size: 18px;
}

.submit-button {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    margin-top: 40px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 2px 2px 10px 2px #CECECE;
    cursor: pointer;
    align-self:center;
}

.select-departments{
  width:92%;
  margin: 10px;
}
.select-category{
 width: 92%;
  margin: 10px;
}