@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");


.productDetail-container {
height: 500px;
width: 500px;
margin: 0 auto;

  display: flex;
 flex-direction: row;
 background-color: white;
 padding: 10px;

 box-shadow: 2px 2px 10px 2px #CECECE;
}
/* tag for the image */
.productDetail-image-container {
  padding: 40px;
}

.items-details {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  letter-spacing: 0.8px;
  /* padding: 60px; */
  justify-content: space-evenly;
  padding-top: 40px ;
  line-height: 1.6;
  /* align-items: stretch ; */
}

.productDetail-buttons {
  display: flex;
  justify-content: space-evenly; 
}
.edit-btn .delete-btn {
  text-decoration: none;
  color: blue;
}