.create-form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

input, textarea {
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

textarea {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-name {
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-price {
    padding-left: 10px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-image-link {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.submit-button {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    margin-top: 40px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 2px 2px 10px 2px #CECECE;
    cursor: pointer;
}
