@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

.product-container {
  display: flex;
 flex-direction: row;
 background-color: grey;
 color: white;
 padding: 10px;
}
.product-image-container {
  padding: 40px;
}

.items-details {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  letter-spacing: 0.8px;
  /* padding: 60px; */
  justify-content: space-evenly;
  padding-top: 40px ;
  line-height: 25px;
  /* align-items: stretch ; */
}

.product-buttons {
  display: flex;
  /* flex-direction: column; */
  align-self: flex-end;
 
 
}
.edit-btn {
  text-decoration: none;
  color: blue;
}
.delete-btn {
  text-decoration: none;
  color: blue;
}