@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.form-container {
background: white;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 20px 10px;
justify-content: space-evenly;
margin: 100px auto;
box-shadow: 0 0 17px 2px rgba(0, 0, 0, 0.5);
font-family: 'Open Sans', sans-serif;
font-weight: bold;
width: 350px;
height: max-content;
}



.sign-in-welcome{
  color: solid #4444;
  font-size: 20px;
  margin-top: 0;
  /* padding: 0 50px; */
}


.login-prompt {
  color: grey;
  font-size: 14px;
  font-weight:600;
  letter-spacing: .4px;
  margin: 3px 0 8px 0;
}

.facebook-button-signin{
  color: white;
  background-color: #375089;
  border: #375089;
  border-radius: 4px;
  padding: 5px 35px;
  height: 28px;
  width: 270px;
  margin: 2px;

}
.google-button-signin {
  color: white;
  background-color: #214EC0;
  border:  #214EC0;
  border-radius: 4px;
  padding: 5px 35px;
  height: 28px;
  width: 270px;
  margin: 2px;

}

.alreadyLogin {
  color: grey;
  font-size: 13px; 
}

.log-in-signup {
  background-color: rgb(45, 131, 40);
  color: white;
  height: 28px;
  width: 270px;
  border-radius: 4px;
  padding: 5px 40px;
  font-weight: 600;
  margin: 5px 0 5px 0;
}

input {
  height: 30px;
  width: 260px; 
  border-radius: 3px;
  border: 1.4px solid grey;
  margin: 2px;
  padding: 0 0 0 5px;
} 

.separator-signup {
  display: flex;
  align-items: center;
  text-align: center;
  color: grey;
  font-size: 10px;
  width: 270px;
  margin-left: 8px;
  margin: 4px auto;
  justify-content: center;
}
.separator-signin::before, .separator-signin::after {
  content: "  ";
  flex: 2;
  border-bottom: 1px solid gray;
}
.separator-signin::before {
  margin-right: 5px;
}
.separator-signin::after {
    margin-left: 5px;
}
.sign-in-instacart-detail-image{
 margin-bottom: -17px;
}
.danger-signup{
background-color: rgba(148, 37, 37, 0.856);
color: white;
height: 28px;
width: 270px;
border-radius: 4px;
padding: 5px 40px;
font-weight: 600;
margin: 5px 0 5px 0;
}

img{
  height: 90px;
  margin-top: 10px;
  margin-bottom: 0;
}

@media(max-width: 450px){
  .form-container{
    width: 298px;
    height: 503px
  }
}

@media(max-width: 360px){
  .form-container{
    width: 280px;
  }

  .sign-up-createAcc{
    font-size: 15px;
    margin-bottom: 20px
  }
  .log-in, #email-input, #password-input,.google-button-signin, .facebook-button-signin{
    width: 238px;
    height: 40px;
    font-size: 14px;
    font-weight: 600; 
  }

  #email-input, #password-input{
    margin-top: 10px;
    font-size: 16px
  }

  .terms-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .alreadyLogin {
    font-size: 16px;
  }
  .separator-signin{
    font-size: 14px
  } 
  .login-prompt{
    font-size: 16px
  }
}