@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


.form-container-signup {
background: white;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 20px 10px;
justify-content: space-evenly;
margin: 100px auto;
box-shadow: 0 0 17px 2px rgba(0, 0, 0, 0.5);
font-family: 'Open Sans', sans-serif;
font-weight: bold;
width: 380px;
height: 420px;
} 


/* #suForm {
  padding: 0 0 20px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
    
} */

.sign-up-createAcc {
  color: gray;
  font-size: 12px;
  font-weight: bold;
  margin: 0
}

.terms, .link-container > span {
  font-size: 10px;
  max-width: 60%;
  margin: 0px auto;
  color: rgb(105, 101, 101);
  font-weight:normal;
  letter-spacing: .5px;
}
.sign-up {
  background-color: rgb(45, 131, 40);
  color: white;
  height: 28px;
  width: 270px;
  border-radius: 4px;
  padding: 5px 40px;
  font-weight: 600;
  margin: 5px 0 5px 0;
}

.signIn {
  color: green;
  text-decoration: none;
}

.alreadyAcc {
  margin: 10px 0 10px 0;
  color: gray;
  font-size: 13px; 
}

#carrot {
  margin-left: 80px;
  max-width: 200px
}
.separator-signup {
  display: flex;
  align-items: center;
  text-align: center;
  color: grey;
  font-size: 10px;
  width: 270px;
  margin-left: 8px;
  margin: 4px auto;
  justify-content: center;
}
.separator-signup::before, .separator-signup::after {
  content: "  ";
  flex: 2;
  border-bottom: 1px solid gray;
}
.separator-signup::before {
  margin-right: 5px;
}
.separator-signup::after {
    margin-left: 5px;
}
.sign-up-instacart-detail-image{
  margin-bottom: -55px;
}

.sign-up-emailInput{
  margin-top: -30px;
}
.facebook-button-signup {
  color: white;
  background-color: #375089;
  border: #375089;
  border-radius: 4px;
  padding: 5px 35px;
  height: 28px;
  width: 270px;
  margin: 2px;

}
.google-button-signup {
  color: white;
  background-color: #214EC0;
  border:  #214EC0;
  border-radius: 4px;
  padding: 5px 35px;
  height: 28px;
  width: 270px;
  margin: 2px;

}
.link-container > a{
  color: #2f821f;
  text-decoration: none;
  font-weight: 600;
  font-size: 10px
}

@media(max-width: 450px){
  .form-container-signup{
    width: 298px;
    height: 426px
  }
}

@media(max-width: 360px){
  .form-container-signup{
    width: 280px;
  }
  .sign-up-createAcc{
    font-size: 15px;
    margin-bottom: 20px
  }
  .sign-up, #emailInput ,.google-button-signup, .facebook-button-signup{
    width: 238px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
  }
  #emailInput{
    margin-top: 10px;
    font-size: 16px
  }
  .sign-up-instacart-detail-image{
    margin: 0px
  }
  .link-container > span, .link-container > a{
    margin: 0px;
    font-size: 12px;
  }
  .terms-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .alreadyAcc {
    font-size: 16px;
  }
  .separator-signup{
    font-size: 14px
  }


  
}