.form-container {
border: 1px solid grey;
background: white;
text-align: center;
display: flex;
justify-content: flex-start;
flex-direction: column;
box-shadow: grey;
border: 20px, 20px;
padding: 20px;
justify-content: space-between;
align-content: center;
margin: 0px 40px 0px 40px;

}



.welcome {
color: solid #4444;
padding-top: 20px;
font-weight: heavy;

}


.login-prompt {
  color: grey;
  margin: -20px;
  font-size: 10px;
  margin: 2px 2px;

}

.facebookButton {
  color: white;
  background-color: #375089;
  border: #375089;
  border-radius: 4px;
  padding: 5px 35px;
  height: 25px;
  width: 200px;
  margin: 2px;

}
.googleButton {
  color: white;
  background-color: #214EC0;
  border:  #214EC0;
  border-radius: 4px;
  padding: 5px 35px;
  height: 25px;
  width:200px;
  margin: 2px;

}

.alreadyLogin {
  color: grey;
  font-size: 10px;

}

.logIn {
background-color: rgb(45, 131, 40);
color: white;
height: 25px;
width:200px;
border-radius: 4px;

}

input {
  height: 25px;
  width: 192px; 
  border-radius: 4px;
  margin: 2px;

}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: grey;
  font-size: 10px;
  width:200px;
  margin-left: 8px;
  /* justify-content: center; */
  margin: 4px auto;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid lightgrey;
}
.separator::before {
  margin-right: .20em;
}
.separator::after {
    margin-left: .20em;
}


/* .hr {
 display: inline;
} */

/* hr{
  display: inline;
} */

/* #emailInput {
  margin: auto;
 position: relative;

} */

/* .welcome {
  padding: -20px;
} */

/* input:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
} */

.instacart-detail-image {
height: 15vh;
margin: -20px;
    
}